input[type="radio"][id="multicentro"]:checked ~ .maps .metrocentro{

    opacity: 0;
    width: 0;
    height: 0;

}

input[type="radio"][id="multicentro"]:checked ~ .maps .multicentro{
    opacity: 1;
    width: 100%;
}

input[type="radio"][id="metrocentro"]:checked ~ .maps .multicentro{

    opacity: 0;
    width: 0;
    height: 0;

}

label{
    width: 50%;
    float: left;
}

.maps{
    width: 50%;
    float: right;
}

input[type="radio"][id="metrocentro"]:checked ~ .maps .metrocentro{
    opacity: 1;
    width: 100%;
    position: absolute;
}